div.page {
    margin: 0 auto;
    max-width: 720px;
}

h1, h2, h3 {
    font-family: Georgia, "Times New Roman", Times, serif;
}
h1.title {
	font-size: 3.2em;
}
h1.title.article {
    font-size: 2em;
    margin-top: 1.5em;
}
article {
    margin: 0 auto;
    max-width: 730px;
}
ul.top-nav {
    border-top: solid 1px #111;
    border-bottom: solid 1px #111;
    margin-bottom: 2em;
    padding: 5px 0;
}
p.author.article {
    margin: 3em 0 4.5em 0;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    text-align: center;
}
footer.article {
    margin-top: 6em;
    margin-bottom: 2em;
    text-align: center;
    font-size: 0.8em;
}
td.center {
    text-align:center;
}

ul.toc {
	border-top: solid 1px #333;
	border-bottom: solid 1px #333;
	padding: 5px 0;
}

li.toc {
	border-left: solid 1px #333;
}

li.toc.first {
	border-style: none;
}

div.output {
    border-left: solid 5px #ccc;
}

div.signup-form { 
    padding: 1em;
    background-color: #624ea7; 
    text-align: center;
}

label {
    font-weight: normal;
    color: #fff;
}
